<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        .content {
            max-width: 500px;
            margin: auto;
        }
    </style>
</head>
<body>

<div class="content">
<h2 th:text="${message}">Hello my food lover!</h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="food, iterator : ${foods}">
        <th th:text="${iterator.index}+1" scope="row"></th>
        <td th:text="${food.name}">Mark</td>
        <td th:text="${food.price}">Mark</td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>